<template>
  <div>
    <div class="sp-container">
      <sp-block-explorer />
    </div>
  </div>
</template>

<script>
import * as sp from "@tendermint/vue";

export default {
  components: { ...sp },
};
</script>
